* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 240, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 2rem;
}

h1 {
  background-color: white;
  color: red;
  text-align: center;
}

h6 {
  color: red;
  text-align: center;
}

.logo {
  text-align: center;
  padding-left: 2rem;
}
.nav-bar {
  width: 100%;
}

nav {
  margin: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

li a {
  text-decoration: none;
  color: blue;
  background-color: white;
  padding: 1.25rem;
}

li a:hover {
  background-color: black;
  color: red;
}

.header {
  text-align: center;
}

input {
  font-size: 1.8rem;
}

label {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
}
button {
  background: blue;
  font-size: 0.8rem;
  margin: 2rem;
  padding: 1rem 1.5rem;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
footer {
  text-align: center;
  background-color: red;
}

@media (max-width: 1024px) {
  body {
    margin: 1rem;
  }

  h1,
  h6 {
    font-size: 1.5rem;
  }

  .logo {
    padding-left: 1rem;
  }

  nav {
    margin: 10px;
  }

  ul {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  li a {
    padding: 0.75rem;
  }

  input,
  label,
  h2,
  p {
    font-size: 1.4rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0.2rem;
  }

  h1,
  h6 {
    font-size: 1.1rem;
  }

  .logo {
    padding-left: 0.5rem;
  }

  nav {
    margin: 10px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li a {
    padding: 0.5rem;
    font-size: 1rem;
  }

  input,
  label,
  h2,
  p {
    font-size: 1rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
